## <font color='darkblue'>Preface</font>
TBD

In [11]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

In [17]:
df = pd.read_csv("datas.csv")
df.head(n=10)

,kw,sentence
0,Tesla Model 3,"The Tesla\_h Model\_h 3\_h is an American four-door saloon car with rear- or -four-wheel drive, seating for five people at a pinch, and a touchscreen inside."
1,Tesla Model 3,We think right now may be the best time to buy a Tesla\_h Model\_h 3\_h.
2,BMW 228 Gran Coupe,The BMW\_h 228\_h Gran\_h Coupe\_h is a sedan.
3,228 Gran Coupe,"The 2021 228\_h Gran\_h Coupe\_h starts at $35,700 (MSRP), with a destination charge of $995."
4,Toyota Avalon,The Toyota\_h Avalon\_h is a sedan.
5,Toyota Avalon,The Toyota\_h Avalon\_h is a full-size car produced by Toyota.
6,BMW 327,The BMW\_h 327\_h is a medium-sized touring coupé produced by the Bavarian firm between 1937 and 1941.
7,Ferrari 812 GTS,"In the shark nose of the Ferrari\_h 812\_h GTS\_h is a 6.5-litre V12 engine, free of turbos and able to rev to almost 9,000rpm as a result."
8,Ferrari 812,Equip your Ferrari\_h 812\_h with the Novitec Aero Kit.
9,2015 Ford focus,I just bought at 2015\_h Ford\_h focus\_h back at the end of September and have been enjoying it up until a week ago when the Bluetooth stopped pairing and would just say disconnected.

In [19]:
for ri, r in df.iterrows():
    words = r.sentence.split()
    if words[-1][-1] in '.!?':
        words[-1] = words[-1][:-1]
    new_words = []
    for w in words:
        if w.endswith('\_h'):
            w = w[:-3]
            w = f"{color.BOLD}{color.BLUE}{w}{color.END}"
            
        new_words.append(w)
    print(" ".join(new_words))

The Tesla Model 3 is an American four-door saloon car with rear- or -four-wheel drive, seating for five people at a pinch, and a touchscreen inside
We think right now may be the best time to buy a Tesla Model 3
The BMW 228 Gran Coupe is a sedan
The 2021 228 Gran Coupe starts at $35,700 (MSRP), with a destination charge of $995
The Toyota Avalon is a sedan
The Toyota Avalon is a full-size car produced by Toyota
The BMW 327 is a medium-sized touring coupé produced by the Bavarian firm between 1937 and 1941
In the shark nose of the Ferrari 812 GTS is a 6.5-litre V12 engine, free of turbos and able to rev to almost 9,000rpm as a result
Equip your Ferrari 812 with the Novitec Aero Kit
I just bought at 2015 Ford focus back at the end of September and have been enjoying it up until a week ago when the Bluetooth stopped pairing and would just say disconnected
2015 Ford Focus bluetooth SYNC issue
On the racetrack, the sound of the of the Porsche 911 GT3 exhaust sys- tem is unmistakable
Porsche 911 Bluetooth Speaker is both stunning and bonkers, yours for $550
The 2021 Honda Civic's #1 ranking is based on its score within the Compact Cars category
The tenth-generation Honda Civic is a great alternative choice in the hatchback class
The hatch gets all the focus, but the RS sedan is a competitive offering within the Honda Civic range
How to connect Bluetooth on Honda Odyssey
This tutorial video explains the connection and trouble-shooting process on all 2015 Odyssey models with iPhone and Android phones
The new Toyota Mirai features several Entune apps that seamlessly connect your life with your car
How to Pair Your Phone via Bluetooth to the 2021 Toyota Sienna

## <font color='darkblue'>Supplement</font>
* [All Car Brands](https://www.carlogos.org/car-brands/)